//@font-face {
//    font-family: 'Neue Haas Grotesk Display Pro';
//    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XXThinItalic.woff2') format('woff2'),
//        url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XXThinItalic.woff') format('woff');
//    font-weight: 100;
//    font-style: italic;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: 'Neue Haas Grotesk Display Pro';
//    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XThinItalic.woff2') format('woff2'),
//        url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XThinItalic.woff') format('woff');
//    font-weight: 200;
//    font-style: italic;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: 'Neue Haas Grotesk Display Pro';
//    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-ThinItalic.woff2') format('woff2'),
//    url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-ThinItalic.woff') format('woff');
//    font-weight: 300;
//    font-style: italic;
//    font-display: swap;
//}

//@font-face {
//    font-family: 'Neue Haas Grotesk Display Pro';
//    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XThin.woff2') format('woff2'),
//        url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XThin.woff') format('woff');
//    font-weight: 100;
//    font-style: normal;
//    font-display: swap;
//}

//@font-face {
//    font-family: 'Neue Haas Grotesk Display Pro';
//    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XXThin.woff2') format('woff2'),
//        url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-XXThin.woff') format('woff');
//    font-weight: 100;
//    font-style: normal;
//    font-display: swap;
//}

//@font-face {
//    font-family: 'Neue Haas Grotesk Display Pro';
//    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Thin.woff2') format('woff2'),
//        url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Thin.woff') format('woff');
//    font-weight: 100;
//    font-style: normal;
//    font-display: swap;
//}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-LightItalic.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
    url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-RomanItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
    url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Black.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Mediu.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Mediu.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Roman.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Light.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Bold.woff2') format('woff2'),
  url('./assets/fonts/neueHaasDisplay/NeueHaasDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}