// Hover effect for buttons: slide from bottom to up
button.liv-black-hover, a.liv-black-hover,
button.liv-white-hover, a.liv-white-hover {
  z-index: 1;
  transition: all .3s;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    background: #000000;
    z-index: -1;
    //transition: transform 0.3s;
    transition: transform 0.1s ease-out;
  }

  &:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s ease-in;
  }
}


button.liv-black-hover, a.liv-black-hover {
  &:after {
    background: #000000;
  }

  &:hover {
    color: #ffffff;

    svg {
      color: #ffffff;
    }

    .arrow-black {
      display: none !important;
    }

    .arrow-white {
      display: inline !important;
    }
  }
}

button.liv-white-hover, a.liv-white-hover {
  &:after {
    background: #ffffff;
  }

  &:hover {
    color: #000000;

    svg {
      color: #000000;
    }

    .arrow-white {
      display: none !important;
    }

    .arrow-black {
      display: inline !important;
    }
  }
}

// Animate checkmark for resent account activation email
#resend-checkmark {
  width: 16px;

  .checkmark {
    stroke: #838b64;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 2s ease-out forwards infinite;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 745.74853515625;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}

// Animate the pause button over video in celebrity profile
#celebrity-profile-intro-video {
  .pause-button {
    display: none;
  }

  &:hover {
    .pause-button.active {
      display: block;
    }
  }
}

// animate slide up and down reveal
.smooth-slide-down-container {
  .drop_container {
    overflow: hidden;

    max-height: 0;
  }

  .drop_container.hide {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }

  .drop_container.show {
    max-height: 100vh;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
  }
}

// animate loop style quiz
.waterfall-container {
  height: 100vh; /* Set the container height to match the viewport height */
  width: 100%; /* Set the container width to 100% */
  margin-bottom: 80px;
  overflow: hidden; /* Ensure images outside the container are hidden */

  img {
    display: block; /* Change to block to remove extra spacing */
    margin-bottom: 20px;
  }

  /* Keyframe animations */
  .first-image {
    animation: bannermove 5s linear infinite;
  }

  @keyframes bannermove {
    0% {
      margin-top: 0px; /* Start with the first image at the top */
    }
    100% {
      margin-top: -100vh; /* Move images up by the viewport height */
    }
  }
}