button.liv-black-hover, a.liv-black-hover,
button.liv-white-hover, a.liv-white-hover {
  z-index: 1;
  transition: all .3s;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #000000;
    z-index: -1;
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scaleY(1);
  }

  &:hover {
    color: #ffffff;

    svg {
      color: #ffffff;
    }

    &:before {
      width: 100%;
    }

    .arrow-black {
      display: none !important;
    }

    .arrow-white {
      display: inline !important;
    }
  }
}


button.liv-black-hover, a.liv-black-hover {
  &:after {
    background: #000000;
  }

  &:hover {
    color: #ffffff;

    svg {
      color: #ffffff;
    }

    .arrow-black {
      display: none !important;
    }

    .arrow-white {
      display: inline !important;
    }
  }
}

button.liv-white-hover, a.liv-white-hover {
  &:after {
    background: #ffffff;
  }

  &:hover {
    color: #000000;

    svg {
      color: #000000;
    }

    .arrow-white {
      display: none !important;
    }

    .arrow-black {
      display: inline !important;
    }
  }
}