.liv-select {
  .liv-select__control {
    cursor: pointer;
    border-color: #000000;
    border-radius: 0;
    box-shadow: none !important;

    &:focus, &:hover {
      border-color: #000000;
      border-radius: 0;
    }

    .liv-select__single-value {
      text-transform: uppercase;
      font-size: 14px;
      color: #000000;
    }

    .liv-select__indicator {
      color: #000000;
    }

    .liv-select__placeholder {
      text-transform: uppercase;
      font-size: 14px;
      color: #000000;
    }
  }

  .liv-select__menu {
    z-index: 50;

    .liv-select__menu-list {
      .liv-select__option {
        text-transform: uppercase;
        font-size: 14px;
        color: #000000;
        cursor: pointer;

        &:hover {
          background-color: #838b64;
          color: #ffffff;
        }

        &.liv-select__option--is-focused {
          background-color: #838b64;
          opacity: 50%;
          color: #ffffff;
        }

        &.liv-select__option--is-selected {
          background-color: #838b64 !important;
          opacity: 100% !important;
          color: #ffffff;
        }
      }
    }
  }
}