.liv-select {
  .liv-select__control {
    cursor: pointer;
    border-color: #000000;
    border-radius: 0;
    box-shadow: none !important;

    &:focus, &:hover {
      border-color: #000000;
      border-radius: 0;
    }

    .liv-select__single-value {
      text-transform: uppercase;
      font-size: 14px;
      color: #000000;
    }

    .liv-select__indicator {
      color: #000000;
    }

    .liv-select__placeholder {
      text-transform: uppercase;
      font-size: 14px;
      color: #000000;
    }
  }

  .liv-select__menu {
    z-index: 50;

    .liv-select__menu-list {
      .liv-select__option {
        text-transform: uppercase;
        font-size: 14px;
        color: #000000;
        cursor: pointer;

        &:hover {
          background-color: #838b64;
          color: #ffffff;
        }

        &.liv-select__option--is-focused {
          background-color: #838b64;
          opacity: 50%;
          color: #ffffff;
        }

        &.liv-select__option--is-selected {
          background-color: #838b64 !important;
          opacity: 100% !important;
          color: #ffffff;
        }
      }
    }
  }
}

// styling checkbox
input[type="checkbox"] {
  //appearance: none;
  //-webkit-appearance: none;
  //display: flex;
  //align-content: center;
  //justify-content: center;
  //font-size: 2rem;
  //padding: 0.1rem;
  border: 1px solid #000000 !important;
  //border-radius: 0.5rem;
}

//input[type="checkbox"]::before {
//  content: "";
//  width: 1.4rem;
//  height: 1.4rem;
//  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
//  transform: scale(0);
//  background-color: #ffffff;
//}
//
//input[type="checkbox"]:checked::before {
//  transform: scale(1);
//}