.container.liv-container {
  @apply relative;
  padding: 40px 24px;

  @media (max-width: 640px) {
    @apply p-6;
  }
}

#wrapper {
  //display: contents;
  @apply flex flex-col min-h-screen justify-between;

  #content {
    -webkit-transition: filter 0.5s ease-in; //HERE
    transition: filter 0.5s ease-in; //HERE
    @apply flex flex-grow;
  }
}

.mobile-w-full {
  @media (max-width: 640px) {
    @apply w-full;
  }
}

// Menu
#menu-panel {
  .menu-link {
    @apply leading-[1.1] flex relative overflow-hidden;

    div {
      @apply transition-transform duration-[400ms];
    }

    div:last-child {
      @apply absolute top-full;
    }

    &:hover {
      div {
        @apply -translate-y-full;
      }
    }
  }
}