.container.liv-container {
  padding: 40px 24px;
  position: relative;

  @media (max-width: 640px) {
    padding: 24px;
  }
}

#wrapper {
  #content {
    -webkit-transition: filter 0.5s ease-in; //HERE
    transition: filter 0.5s ease-in; //HERE
  }
}

.mobile-w-full {
  @media (max-width: 640px) {
    width: 100%;
  }
}

